.section__title_white-space_pre-line {
  white-space: pre-line;
}

.section__image_mb_0px {
  margin-bottom: 0px;
}

.section__figure {
  margin-bottom: 30px;
}

.section__figcaption {
  padding: 15px 30px;
}



